{% extends "base_DXcator.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<body style="text-align: center; background-color: #404040; color: white; vertical-align: middle;"
  <div style="text-align: center; ">
    <br>
    <br>
    <br>
    <h1>Welcome to <stream style="font-weight: bold; color: red; font-size: 130%;">Diagnosticator</stream></h1>
    <br>
    <img style="margin-top: 2%; max-width: 40%; max-height: 40%;" src="{{ url_for('static', filename='alligator.AGCT.white.trasnparent.png') }}"></img>
    <br>
    <br>
    <h3>Just a simple app for your variant clinical annotation</h3>
    <br>
    <h2><a style="font-weight: bold; color: red; font-size: 110%;" href="{{ url_for('auth.login') }}">Register</a>, check out the <a style="font-weight: bold; color: red; font-size: 110%;" href="#">Tutorial</a> and
    <br><a style="font-weight: bold; color: red; font-size: 110%;" href="https://hub.docker.com/r/cccnrc/diagnosticator" target="_blank">Download</a> the app!</h2>
  </div>
</body>

{% endblock %}
