{% extends "base_DXcator.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<body style="text-align: center; background-color: #404040; color: white; vertical-align: middle;"
  <div style="text-align: center; ">
    <br>
    <br>
    <br>
    <h1>Welcome to <stream style="font-weight: bold; color: red; font-size: 130%;">Diagnosticator</stream></h1>
    <br>
    <img style="margin-top: 2%; max-width: 40%; max-height: 40%;" src="{{ url_for('static', filename='alligator.AGCT.white.trasnparent.png') }}"></img>
    <br>
    <br>
    <h3>Just a simple app for your variant clinical annotation</h3>
    <br>
    <h2><a style="font-weight: bold; color: red; font-size: 110%;" href="{{ url_for('auth.register') }}">Register</a> and follow the <a style="font-weight: bold; color: red; font-size: 110%;" href="{{ url_for('main.installation') }}">Instructions</a>!</h2>
    <br>
    <h3 style="color: grey;">For the bravest: collaborate with Diagnosticator <a style="font-weight: bold; color: #d3d3d3; font-size: 110%;" href="{{ url_for('main.development_installation') }}">Development</a>
      <br> we look forward to having you abroad!</h3>
  </div>
</body>

{% endblock %}
